{% load static %}
{% include 'components/header.html' %}
<link rel="stylesheet" href="{% static 'css/hastags.css' %}">
<div class="container">
    <div class="buttons">
        <button class="btn"><a href="{% url 'children_clothes' %}">Детская одежда</a></button>
        <button class="btn"><a href="{% url 'teenage_clothes' %}">Подростковая одежда</a></button>
        <button class="btn"><a href="{% url 'adult_clothes' %}">Взрослая одежда</a></button>
    </div>

    {% for i in all_clothes %}
    <div class="content">
        <p class="white">{{ i.title }} </p>
      <hr class="white">
        <p class="white">{{ i.price }} </p>
    </div>
    {% endfor %}
</div>
{% include 'components/footer.html' %}