{% include 'components/header.html' %}

<!-- Контент с информацией о книге -->
<div class="container mt-4">
    <div class="book-card">
        <div class="card">
            <img src="{{ book_id.url}}" class="card-img-top" alt="Книга">
            <div class="card-body">
                <h5 class="card-title">{{ book_id.title }}</h5>
                <p class="card-text">{{ book_id.description }}</p>
                <p><strong>Цена:</strong>{{ book_id.price }}</p>
                <p><strong>Дата выхода:</strong>{{ book_id.created_at }}</p>
                <p><strong>Жанр:</strong>{{ book_id.genre }}</p>
                <p><strong>Почта:</strong>{{ book_id.mail_author }}</p>
                <p><strong>Автор:</strong>{{ book_id.author }}</p>
                <iframe width="100%" height="315" src="{{ book_id.link }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <h5>Комментарии</h5>
    <div class="comments-list">
        {% for comment in book_id.choice_book.all %}
        <div class="comment-section">
            <p> {{ comment.created_at }}: {{ comment.text_review }} <strong>Оценка:</strong> {{ comment.stars }} </p>
        </div>
        {% empty %}
            <p>Комментариев нету пока что</p>
        {% endfor %}
    </div>

    <h5>Оставить комментарий:</h5>
    <form method="POST">
        {% csrf_token %} 
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
</div>

{% include 'components/footer.html' %}