{% include 'components/header.html' %}
<!-- Контент с карточками -->
{% for i in book%}
<div class="container mt-4 content">
    <div class="row justify-content-center">
        <!-- Пример карточки книги -->
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                <img src="{{ i.image.url }}" class="card-img-top" alt="Обложка книги">
                <div class="card-body">
                    <h5 class="card-title">{{ i.title }}</h5>
                    <p class="card-text">{{ i.created_at }}</p>
                    <a href="/book_detail/{{ i.id }}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <!-- Добавьте дополнительные карточки книг здесь -->
    </div>
</div>
{% endfor %}
<!-- Футер -->
{% include 'components/footer.html' %}