<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список рецептов</title>
</head>
<body>
    <h1>Список рецептов</h1>
    <a href="{% url 'create_recipe' %}">Создать новый рецепт</a>
    <ul>
        {% for recipe in recipe_list %}
            <li>
                <a href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe.title }}</a>
                <a href="{% url 'delete_recipe' pk=recipe.pk %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
