<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Добро пожаловать</h1>
    <ol>
        {% for i in person %}
        <li>
            <p>Имя: {{ i.first_name }}</p>
            <p>Фамилия: {{ i.last_name }}</p>
            <p>Возраст: {{ i.age }}</p>
            <p>Почта: {{ i.email }}</p>
            <p>Опыт: {{ i.year }}</p>
            <p>Специальность: {{ i.job_title }}</p>
            {% if i.position %}
            <p>Этот разработчик занимает должность - {{ i.position }}</p>
            {% else %}
            <p>Должность не найдена</p>
            {%endif%}
        </li>
        {% endfor %}
    </ol>


<form action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Выйти из аккаунта</button>
</form>

</body>
</html>
